<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appointment List</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"> <!-- Link to your CSS file -->
</head>
<script th:if="${#authorization.expression('!hasAuthority(''RECEPTIONIST'')')}">
    location.href = '/403';
</script>
<body>
    <script th:if="${#authorization.expression('!hasAuthority(''RECEPTIONIST'')')}">
        location.href = '/403';
    </script>
    <header>
        <nav>
            <ul class="navbar-menu">
                <li><a href="clinichome"><img src="img/logo.png" alt="Logo" class="logo"></a></li>
                <li><a href="appointmentlist">Appointments</a></li>
                <li><a href="clinic-patients">Patients</a></li>
                <li><a href="vets">Vets</a></li>
                <li><a href="clinicinfo">Clinic Info</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
    </header>
    <h1>Appointment List</h1>
    
    <!-- Display the no appointments message if it exists -->
    <div th:if="${noAppointmentsMessage}">
        <p th:text="${noAppointmentsMessage}" style="color: red;"></p>
    </div>

    <!-- Display the appointments only if they exist -->
    <div th:if="${appointments != null && !#lists.isEmpty(appointments)}">
        <h2>Appointments</h2>
        <table>
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Pet Name</th>
                    <th>Vet ID</th>
                    <th>User ID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="appointment : ${appointments}">
                    <td th:text="${appointment.id}"></td>
                    <td th:text="${appointment.petName}"></td>
                    <td th:text="${appointment.vetId}"></td>
                    <td th:text="${appointment.userId}"></td>
                    <td th:text="${appointment.date}"></td>
                    <td th:text="${appointment.time}"></td>
                    <td th:text="${appointment.status}"></td>
                </tr>
            </tbody>
        </table>
    </div>

   
</body>
</html>
