<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <!-- Header Start -->
    <header>
        <nav>
            <ul class="navbar-menu">
                <li><a href="userhome"><img src="img/logo.png" alt="Logo" class="logo"></a></li>
                <li><a href="about">About</a></li>
                <li><a href="resources">Resources</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="appointments">Appointments</a></li>
                <li><a href="prescription-management">Prescriptions</a></li>
                <li><a href="appointments/compare-providers">Compare Providers</a></li>
                <li><a href="profile">Profile</a></li>
                <li><a href="/logout" >Log Out</a></li>
            </ul>
        </nav>
    </header>
    <!-- Header End -->

    <!-- Main Content Start -->
    <div class="main-content">
        <h1>Welcome to the Pet Management System</h1>
        <p>Manage your pet records, schedule appointments, and more!</p>
        
        <!-- Sign Up Button -->
      
    </div>
    <!-- Main Content End -->

    <!-- Footer with Social Links -->
    <footer>
        <nav>
            <ul>
                <li><a href="index.html"><img th:src="@{/img/logo.png}" alt="Logo"></a></li>
                <li><a href="resources">Resources</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="about">About</a></li>
                <li><a href="#"><img th:src="@{/img/facebook.png}" alt="Facebook"></a></li>
                <li><a href="#"><img th:src="@{/img/linked.png}" alt="LinkedIn"></a></li>
                <li><a href="#"><img th:src="@{/img/insta.png}" alt="Instagram"></a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
