<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<head>
    <title>Your Appointments</title>
</head>

<body>
<div layout:fragment="content">
    <h1>Your Appointments</h1>
    <ul th:each="a : ${appointments}">
        <li>
            <span th:text="${a.formattedDetails()}">Appointment details</span>

            <!-- Cancel button -->
            <form th:action="@{/appointments/cancel}" method="post" style="display:inline;">
                <input type="hidden" th:value="${a.id}" name="id"/>
                <button type="submit">Cancel</button>
            </form>

            <!-- Edit button that links to the edit page -->
            <a th:href="@{/appointments/edit/{id}(id=${a.id})}">Edit</a>
        </li>
    </ul>
</div>
</body>
</html>